# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env_womens_wear/

# Django
*.sqlite3
# /media/
db.sqlite3
/staticfiles/  # optional: you can skip pushing this if your server will run collectstatic
*.log
*.pot
*.py[cod]

# VSCode
.vscode/
